<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  class="max-w-md w-full space-y-8 p-10 bg-white shadow-lg rounded-lg">
      <h1 class="text-center font-bold text-lg mb-4">Registro</h1>
      <div>
        <label for="fullName" class="block text-sm font-medium text-gray-700">Nombre completo:</label>
        <input type="text" id="fullName" formControlName="fullName" placeholder="Nombre completo"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="age" class="block text-sm font-medium text-gray-700">Edad:</label>
        <input type="number" id="age" formControlName="age" placeholder="Edad"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label>
        <input type="email" id="email" formControlName="email" placeholder="Correo electrónico"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
        <input type="password" id="password" formControlName="password" placeholder="Contraseña"
               class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div class="text-center">
        <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Registrarse
        </button>
        <br />
        <a href="/" class="mt-5 m-auto">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
    </form>
  </div>
  