<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Publicaciones</h1>
    
    <!--crear un nuevo post -->
    <form [formGroup]="newPost" (ngSubmit)="createPost()" class="mb-6">
      <input type="text" placeholder="Título del post" formControlName="title" class="border border-gray-300 rounded p-2 w-full mb-2"/>
      <textarea placeholder="Contenido del post"  formControlName="content" class="border border-gray-300 rounded p-2 w-full mb-2"></textarea>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Crear Post</button>
    </form>
  
    <!-- Lista de posts -->
        <div class="space-y-4" *ngFor="let item of posts">
          <div class="p-4 border border-gray-200 rounded shadow">
            <h2 class="font-bold text-lg">{{item.title}}</h2>
            <p class="text-gray-700 mb-2">{{item.content}}</p>
            <p class="text-gray-700 mb-2">Me gusta: {{item.likesCount}}</p>
            <div class="flex justify-between items-center">
              <button class="text-sm bg-yellow-500 hover:bg-yellow-600 text-white py-1 px-3 rounded">Editar</button>
              <button class="text-sm bg-red-500 hover:bg-red-600 text-white py-1 px-3 rounded">Eliminar</button>
            </div>
          </div>
        </div>
  </div>
  